<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{layout/mainbar :: layout(~{::section})}">
      
<body>
    <section>
        <div class="create-container">
    <div class="create-box">
        <div class="form-header">
            <h2><i class="fa-solid fa-user-plus"></i> အသစ်ဖန်တီးပါ</h2>
        </div>
        
        <form th:action="@{/post/add}" method="post" th:object="${post}" enctype="multipart/form-data">
            
            <div class="form-grid">
                <div class="form-group">
                    <label>အမည် (Name)</label>
                    <div class="input-with-icon">
                        <input type="text" th:field="*{name}" placeholder="နာမည်ရိုက်ထည့်ပါ" required>
                        <i class="fa-solid fa-user"></i>
                    </div>
                </div>

                <div class="form-group">
                    <label>မွေးသက္ကရာဇ် (Born Date)</label>
                    <div class="input-with-icon">
                        <input type="date" th:field="*{bornDate}">
                    </div>
                </div>

                <div class="form-group">
                    <label>ကျား/မ (Gender)</label>
                    <div class="radio-flex">
                        <label class="radio-item">
                            <input type="radio" th:field="*{gender}" value="MALE"> <span>ကျား</span>
                        </label>
                        <label class="radio-item">
                            <input type="radio" th:field="*{gender}" value="FEMALE"> <span>မ</span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label>ပညာအရည်အချင်း</label>
                    <select th:field="*{education}">
                        <option value="">ရွေးချယ်ပါ</option>
                        <option th:each="ed:${educations}"
                        th:value="${ed.id}"
                        th:text="${ed.name}"           
                        ></option>
                    </select>
                </div>
            </div>

            <div class="form-group full-width">
                <label>နေရပ်လိပ်စာ (Address)</label>
                <textarea name="address" th:field="*{address}" rows="3" placeholder="နေရပ်လိပ်စာအပြည့်အစုံ ရိုက်ထည့်ပါ"></textarea>
            </div>

            <div class="form-group full-width">
                <label>ဖိုင်တင်ရန် (File Upload)</label>
                <div class="file-input">
                   <input type="file" th:field="*{file}" id="file">
                    <label for="file"><i class="fa-solid fa-cloud-arrow-up"></i> Choose a file...</label>
                </div>
            </div>

            <button type="submit" class="btn-create-pro">
                <i class="fa-solid fa-check-circle"></i> Create Now
            </button>
        </form>
    </div>
</div>
    </section>
</body>
</html>